/* Globalni stilovi */
:root {
    --title-color: #000;
    --main-bckgr: #f9f9f9;
    --footer-bckgr: #f4f4f4;
    --content-color: #333;
    --link-color: #007BFF;
    --main-container-underline: #dcdcdc;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: calc(1.5rem + 1vw)
}

h2 {
    font-size: calc(1.2rem + 1vw)
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8rem + 0.5vw); 
}


/* Header */
header {
    color: var(--title-color);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/images/panorama_vracar.jpg') no-repeat center center/cover;
    opacity: 0.3;
    z-index: 1;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

.header_logo {
    align-self: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.responsive-logo {
    width: 20vw; 
    height: auto;
    max-width: 150px; 
    min-width: 50px;
}

.header_info {
    align-self: center;
}

.header_info h1 {
    border-bottom: 1px solid var(--title-color);
}

.header_info p {
    margin-top: 0;
}

.header_logo img {
    max-width: 50px;
    height: auto;
}

/* Main */
main {
    flex: 1;
    min-height: 60vh;
    background: var(--main-bckgr);
    padding: 40px;
}

.main_container h2 {
    font-size: calc(1.5rem + 1vw); /* Responsivna veličina fonta */
    color: var(--content-color);
}

.main_container p {
    font-size: 1rem;
    color: #555;
}

.main_container_links {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--link-color);
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--link-color);
    opacity: 0.5;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.main_container_guide {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-container-underline);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main_container_guide a {
    align-self: center;
}

.main_container_links a {
    display: block;
    width: max-content;
}

.main_container_links a::after {
    display: block;
}


a:hover::after {
    transform: scaleX(1);
}

/* Footer */
footer {
    background-color: var(--footer-bckgr);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer h2 {
    color: var(--content-color);
    padding: 2rem 0;
}

.footer_soc_media img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px;
}

/* Media queries */
@media (max-width: 768px) {

    .header {
        flex-direction: column;
    }

    .logo-container {
        margin: 0;
    }

    .header_logo img {
        max-width: 80px;
    }

    .main_container_guide {
        flex-direction: column;
    }

    .main_container_guide a {
        align-self: flex-start;
    }

    .footer_soc_media img {
        max-width: 40px;
    }
}